<form action='/users/<%=@edit.id%>' method='POST'>
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>Name: <input type="text" name="name" value='<%= @edit.name %>'></p>
  <p>Email: <input type="text" name="email" value='<%= @edit.email %>'></p>
  <input  type="submit" value="Update">
</form>

<form action='/users/delete/<%=@edit.id%>' method='post'>
  <input type="hidden" name="_method" value="delete">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <button type="submit" >Delete Account</button>
</form>
