<table>
  <tr>
    <th> Name </th>
    <th> Description </th>
    <th> Price </th>
    <th> Actions </th>
  </tr>

    <%@products.each do |product|%>
      <tr>
        <td><%=product.name%></td>
        <td><%=product.description%></td>
        <td><%=product.price%></td>
        <td><a href="/products/<%= product.id%>">Show</a>|<a href="/products/<%= product.id%>/edit">Edit</a>|
          <a href="/products/<%= product.id%>/destroy">Destroy</a></td>
      </tr>
    <%end%>
  </table>
  <a href="/products/new">New product</a>
